<div class="card mt-4">
    <h4 class="card-header">You're logged in as an administrator</h4>
    <div class="card-body row">
        <div class="col-6">
            <h4>NWBA Admin Portal</h4>
            <img src="assets/img/bank.png" style="width:300px;height:300px;">
            <p>Use the navigation bar to access functions.</p>
        </div>
        <div class="col-6">
            <ul>
                <p>You may use the following functions:</p>
                <li>Customer Data</li>
                <ul>
                    <li>View and Edit current Customer data</li>
                    <li>Add New Customers</li>
                    <li>Delete Customers</li>
                    <li>View Statement of a Customer account</li>
                    <li>View BillPays of a Customer</li>
                </ul>
                <br>
                <li>Transaction Statement</li>
                <ul>
                    <li>View all transactions</li>
                    <li>Filter by Date</li>
                    <li>Search using matching string</li>
                    <li>Generate charts based on transactions</li>
                </ul>
                <br>
                <li>Transaction Charts</li>
                <ul>
                    <li>Transaction Counts by Type</li>
                    <li>Daily Transaction Count by Day of the last Week</li>
                    <li>Total Cash Flow (Credits, Debits)</li>
                </ul>
                <br>
                <li>User Logins</li>
                <ul>
                    <li>View Logins by Customer</li>
                    <li>Block a Customer Login</li>
                </ul>
                <br>
                <li>BillPays</li>
                <ul>
                    <li>View All BillPays</li>
                    <li>Block a scheduled BillPay from being processed</li>
                </ul>
            </ul>
        </div>
    </div>
</div>